<div class="col-12 col-md-6  ">

    <h2>Log in</h2>
    <center>
    <div class="form-control bg-dark text-light main-form">
        <p id="widgetLogin_responseContainer"></p>
        <label for="account">Account</label>
        <input type="text" name="name" class="form-control" placeholder="Account name" id="loginAccountName">
        <label for="password">Password</label>
        <input type="password" name="password" id="loginAccountPassword" class="form-control" placeholder="Password">
        <button name="submit_login" onclick="widget_login();" class="btn btn-lg btn-primary" value="log in">Log in</button>
    </div>
    </center>
</div>

<script src="view/widgets/login/app.js"></script>