<div class="col-12 col-md-6  ">

    <h2>Create account</h2>
<center>
    <div class="form-control bg-dark text-light main-form">
        <p id="widgetRegister_responseContainer"></p>
        <label for="email">Email:</label>
        <input type="email" class="form-control" placeholder="your e-mail adress" id="registerAccountEmail">
        <label for="account">Account</label>
        <input type="text" name="name" class="form-control" placeholder="Account name" id="registerAccountName">
        <label for="password">Password</label>
        <input type="password" name="password" id="registerAccountPassword" class="form-control" placeholder="Password">
        <button id="registerAccountSubmit" onclick="widget_register();" class="btn btn-lg btn-primary">register</button>

    </div>
</center>
</div>

<script src="view/widgets/register/app.js"></script>